# Exercise: Create your own database using a compressed binary file

## Generate Fake Data File

In [175]:
!pip install Faker

Requirement already satisfied: Faker in /opt/conda/lib/python3.10/site-packages (19.11.0)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.10/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [176]:
from faker import Faker
import random
import pandas as pd
import os

#create 1000.0000 users file

user_columns = ['id','name','email','phone','company','street','street_number', 'zipcode','country','birthdate']

#User storage: name:
#id, street_number: 8 bytes (2 x 32 bitnumbers between 0 and 2^31)
#name','email','phone','company','street','zipcode','country: strings of n characters requires n bytes: e.g. +-100 bytes
def generate_data(size):
  users = []
  fake = Faker()
  for i in range(0,size):
    user = [i, fake.name(), fake.ascii_email(), fake.basic_phone_number(), fake.company(), fake.street_name(), random.randint(1,1000), fake.zipcode(), fake.country(), f'{random.randint(1970,2005)}-{random.randint(1,12)}-{random.randint(1,28)}']
    users.append(user)
  df = pd.DataFrame(users,columns=user_columns)
  return df

size = 10000
df = generate_data(size) #Takes about 1 minutes to run or about 12 minutes for 1000000 rows
display(df)

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate
0,0,Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,Mayotte,1993-11-7
1,1,Ronald Black,jacksongregory@moore.org,(712)654-9859,Alexander LLC,Thomas Highway,374,82982,Nicaragua,1998-8-11
2,2,Mary Rose,samanthabenson@hotmail.com,3497002554,Blanchard-Ray,Sharp Corner,603,23960,Czech Republic,1991-7-25
3,3,Andrea Waters,markdavis@shelton.org,(485)287-0714,Campbell-Poole,Contreras Mission,452,39939,Bosnia and Herzegovina,1987-6-1
4,4,Bryan Robinson,laura25@leon.com,(577)635-8558,Walker-Perez,Parsons Inlet,554,51481,Cuba,1992-4-10
...,...,...,...,...,...,...,...,...,...,...
9995,9995,Laura Yang,jonesjacob@yahoo.com,832-363-7842,Murray and Sons,Thomas Forks,232,80425,Grenada,1998-5-3
9996,9996,Marissa Simpson,mhall@hernandez.com,3102091665,Martinez-Long,Lawrence Mill,720,93359,Cocos (Keeling) Islands,1983-11-17
9997,9997,Ronald Owens,patrickkevin@gmail.com,(348)201-7969,Edwards-Lee,Hammond Ramp,635,26176,India,1971-4-27
9998,9998,Steve Haynes,myersrodney@simpson-bennett.net,383-424-4787,"Pena, Gray and Barrett",Jennifer Mission,430,05935,Qatar,1989-1-15
9999,9999,Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,Bhutan,1992-2-28

## Save and load CSV file

In [177]:
import time

start = time.time()
fname = 'fake_users.csv'
df.to_csv(fname, index=False)
file_size = os.stat(fname).st_size
print(f"CSV file size is {file_size}B. Elapsed: {time.time()-start}s")
#File Size in Bytes is 1182617 (or on average 120 bytes per record) in csv.

CSV file size is 1180306B. Elapsed: 0.06981897354125977s

In [178]:
start = time.time()
df = pd.read_csv('fake_users.csv')
print(f"Loading CSV. Elapsed: {time.time()-start}s")
display(df)
display(df.describe(include='all'))

Loading CSV. Elapsed: 0.04821491241455078s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate
0,0,Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,Mayotte,1993-11-7
1,1,Ronald Black,jacksongregory@moore.org,(712)654-9859,Alexander LLC,Thomas Highway,374,82982,Nicaragua,1998-8-11
2,2,Mary Rose,samanthabenson@hotmail.com,3497002554,Blanchard-Ray,Sharp Corner,603,23960,Czech Republic,1991-7-25
3,3,Andrea Waters,markdavis@shelton.org,(485)287-0714,Campbell-Poole,Contreras Mission,452,39939,Bosnia and Herzegovina,1987-6-1
4,4,Bryan Robinson,laura25@leon.com,(577)635-8558,Walker-Perez,Parsons Inlet,554,51481,Cuba,1992-4-10
...,...,...,...,...,...,...,...,...,...,...
9995,9995,Laura Yang,jonesjacob@yahoo.com,832-363-7842,Murray and Sons,Thomas Forks,232,80425,Grenada,1998-5-3
9996,9996,Marissa Simpson,mhall@hernandez.com,3102091665,Martinez-Long,Lawrence Mill,720,93359,Cocos (Keeling) Islands,1983-11-17
9997,9997,Ronald Owens,patrickkevin@gmail.com,(348)201-7969,Edwards-Lee,Hammond Ramp,635,26176,India,1971-4-27
9998,9998,Steve Haynes,myersrodney@simpson-bennett.net,383-424-4787,"Pena, Gray and Barrett",Jennifer Mission,430,5935,Qatar,1989-1-15
9999,9999,Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,Bhutan,1992-2-28

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate
count,10000.00000,10000,10000,10000,10000,10000,10000.000000,10000.000000,10000,10000
unique,NaN,9368,9933,10000,8682,9456,NaN,NaN,243,6805
top,NaN,Michael Brown,dthompson@hotmail.com,(899)710-0619,Smith LLC,David Drive,NaN,NaN,Congo,1998-6-6
freq,NaN,5,2,1,14,5,NaN,NaN,94,6
mean,4999.50000,NaN,NaN,NaN,NaN,NaN,501.231800,49783.235000,NaN,NaN
std,2886.89568,NaN,NaN,NaN,NaN,NaN,288.568171,28655.087648,NaN,NaN
min,0.00000,NaN,NaN,NaN,NaN,NaN,1.000000,504.000000,NaN,NaN
25%,2499.75000,NaN,NaN,NaN,NaN,NaN,251.000000,25211.000000,NaN,NaN
50%,4999.50000,NaN,NaN,NaN,NaN,NaN,503.000000,49393.500000,NaN,NaN
75%,7499.25000,NaN,NaN,NaN,NaN,NaN,755.000000,74614.500000,NaN,NaN
max,9999.00000,NaN,NaN,NaN,NaN,NaN,1000.000000,99932.000000,NaN,NaN

In [179]:
#get some stats required for encoding, such as length of faker strings
for col in df.columns:
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
    print(f'col {col} is integer. range: {df[col].min()}-{df[col].max()}. unique: {df[col].nunique()}')
  elif isinstance(df[col].iloc[0],str):
    print(f'col {col} is string. range: {df[col].apply(len).min()}-{df[col].apply(len).max()}. unique: {df[col].nunique()}')

col id is integer. range: 0-9999. unique: 10000
col name is string. range: 6-25. unique: 9368
col email is string. range: 13-40. unique: 9933
col phone is string. range: 10-13. unique: 10000
col company is string. range: 6-35. unique: 8682
col street is string. range: 7-22. unique: 9456
col street_number is integer. range: 1-1000. unique: 1000
col zipcode is integer. range: 504-99932. unique: 9493
col country is string. range: 4-51. unique: 243
col birthdate is string. range: 8-10. unique: 6805

## Encode and decode tuple to fixed-lengh binary string

In [180]:
#convert tuple to binary
import struct #See https://docs.python.org/3/library/struct.html

"""
Using struct python package to convert to binary vector
">" : litle endian (general format that defined order)
"H" " unsigned short integer (2 bytes )
"I" :  unsigned integer (4 bytes)
"32s" = string of max length 32 (32 bytes). If string is smaller, padding with 0 (less efficient)
columns: ['id','name','email','phone','company','street','street_number', 'zipcode','country','birthdate']
            I    32s    64s      16s     64s      32s          H             I          64s      16s
"""
format = '>I32s64s16s64s32sHI64s16s'
size_user = struct.calcsize(format)
print(f'size of user: {size_user}B')

def encode_user(user_row):
  """
  Convert user tuple to fixed-length binary vector
  :param user_row: user tuple/array where colums are ['id','name','email','phone',...]
  :return: binary representation of user tuple
  """
  values = [ value.encode('ascii') if isinstance(value,str) else value for value in user_row]
  binary_string = struct.pack(format, *values)
  return binary_string

def decode_user(binary_string):
  """
  Convert from  fixed-length binary vector to user_tuple
  :param binary_string: user as binary string
  :return: user tuple with ['id','name','email','phone',...]
  """
  values = struct.unpack(format, binary_string)
  values = [ value.decode('ascii').replace('\x00','') if not isinstance(value,int) else value for value in values]
  return values

#test:
first_row = df.iloc[0]
binary_row = encode_user(first_row)
print(f'first user: {first_row.values}')
print(binary_row)
print(f'encode: {len(binary_row)}')
#Remark that binary size is very large, due to padding to fixed length
#One solution (not implemented) is to work with varying length tuples,
#i.e. storing the length first and the characterd "3abc" instead of fixed-length padding like "00000000000abc"
first_row = decode_user(binary_row)
print(f'decode_user: {first_row}')

size of user: 298B
first user: [0 'Tammy Santiago' 'dereksmith@gmail.com' '(899)710-0619' 'Hall Group'
 'Brady Locks' 267 47660 'Mayotte' '1993-11-7']
b'\x00\x00\x00\x00Tammy Santiago\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00dereksmith@gmail.com\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00(899)710-0619\x00\x00\x00Hall Group\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00Brady Locks\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x0b\x00\x00\xba,Mayotte\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x001993-11-7\x00\x00\x00\x00\x00\x00\x00'
encode: 298
decode_user: [0, 'Tammy Santiago', 'dereksmith@gmail.com', '(899)710-0619', 'Hall Group', 'Brady Locks', 267, 47660, 'Mayotte', '1993-11-7']

## Exercise 1: Save and load to binary file

**Exercise 1: Complete code to save and load from binary file**

Use *file* from python, see https://docs.python.org/3/tutorial/inputoutput.html

*file* API:

- *fh = open(filename, mode)*, e.g. mode can be "rb" (read binary), "rw" (write new binary file) or "r+b" (read and write existing binary file)
- *fh.read(N)* returns byte array with *N* bytes or False if nothing to read
- *fh.write(bytearray)* write (or appends) bytearray at current position
- *fh.seek(N)* go to file position starting at *N* bytes

In [181]:
def save_users_to_binary_file(filename, df):
    """
    Saves users to sorted fixed-length binary file
    :param filename: binary file to save
    :param df: pandas dataframe contains all users
    :return:
    """
#     start = time.time()
#     file = open(filename, "wb")
#     nr_of_rows = df.shape[0]
#     for i in range(0, nr_of_rows):
#         file.write(encode_user(df.iloc[i])) # df.iloc[i] is the i-th user tuple
#     file.close()
#     print(f'saved {nr_of_rows} records to {filename}. Time: {time.time() -start}s')
    
    start = time.time()

    # Open the binary file in binary write mode
    with open(filename, "wb") as file:
        # Encode all user rows and write them to the binary file
        for _, row in df.iterrows():
            binary_row = encode_user(row)
            file.write(binary_row)

    print(f'saved {df.shape[0]} records to {filename}. Time: {time.time() - start}s')

def load_user_from_binary_file(filename,user_columns=user_columns):
    """
    Loads users from sorted fixed-length binary file
    :param filename: binary file to load
    :user_columns: name of columns
    :return: pandas dataframe with all user tuples
    """
    start = time.time()
    users = []
    
    file = open(filename, "rb")
    file.seek(0, 2) # seeking to the very end of the file
    file_size = file.tell() # current position = last byte of the file
    nr_of_rows = int(file_size / size_user)
    file.seek(0)
    
    for i in range(0, nr_of_rows):
        users.append(decode_user(file.read(size_user)))
    file.close()
    print(f'loaded {nr_of_rows} records from {filename}. Time: {time.time() -start}s')
    df = pd.DataFrame(users,columns=user_columns)
    return df

In [182]:
#save
fname_bin = 'fake_users.bin'
save_users_to_binary_file(fname_bin, df)
file_size = os.stat(fname_bin).st_size
print(f"File size is {file_size}B")

saved 10000 records to fake_users.bin. Time: 0.6365768909454346s
File size is 2980000B

In [183]:
#load
df2 = load_user_from_binary_file(fname_bin)
display(df2)

loaded 10000 records from fake_users.bin. Time: 0.0890645980834961s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate
0,0,Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,Mayotte,1993-11-7
1,1,Ronald Black,jacksongregory@moore.org,(712)654-9859,Alexander LLC,Thomas Highway,374,82982,Nicaragua,1998-8-11
2,2,Mary Rose,samanthabenson@hotmail.com,3497002554,Blanchard-Ray,Sharp Corner,603,23960,Czech Republic,1991-7-25
3,3,Andrea Waters,markdavis@shelton.org,(485)287-0714,Campbell-Poole,Contreras Mission,452,39939,Bosnia and Herzegovina,1987-6-1
4,4,Bryan Robinson,laura25@leon.com,(577)635-8558,Walker-Perez,Parsons Inlet,554,51481,Cuba,1992-4-10
...,...,...,...,...,...,...,...,...,...,...
9995,9995,Laura Yang,jonesjacob@yahoo.com,832-363-7842,Murray and Sons,Thomas Forks,232,80425,Grenada,1998-5-3
9996,9996,Marissa Simpson,mhall@hernandez.com,3102091665,Martinez-Long,Lawrence Mill,720,93359,Cocos (Keeling) Islands,1983-11-17
9997,9997,Ronald Owens,patrickkevin@gmail.com,(348)201-7969,Edwards-Lee,Hammond Ramp,635,26176,India,1971-4-27
9998,9998,Steve Haynes,myersrodney@simpson-bennett.net,383-424-4787,"Pena, Gray and Barrett",Jennifer Mission,430,5935,Qatar,1989-1-15
9999,9999,Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,Bhutan,1992-2-28

## Excercise 2: Random access

**Exercise 2: Complete code to save and load single a record using random access (i.e. file.seek)**

In [184]:
def read_user(user_id, fh):
    """
    Random access to read fixed-length user tuple in sorted file
    :param user_id: id of user data to read
    :param fh: file handle
    :return: decoded user tuple
    """
    offset = user_id * size_user
    fh.seek(offset)
    binary_row = fh.read(size_user)
    user_tuple = decode_user(binary_row)

    return user_tuple

def write_user(user, fh):
    """
    Random acces to write/update fixed-length user tuple in sorted file
    :param user: user tuple/array where colums are ['id','name','email','phone',...]
    :param fh: file handle
    :return: -updated-user-tuple-in-file/ => void
    """
    offset = user[0] * size_user
    fh.seek(offset)
    binary_row = encode_user(user)
    fh.write(binary_row)

In [185]:
#Read 4 random users
fh = open(fname_bin,"rb")
start = time.time()
random_ids = [0, 100, 200, 9999]
random_users = []
for id in random_ids:
  user_i = read_user(id, fh)
  random_users.append(user_i)
print(f'Loading {len(random_ids)} random users. Elapsed: {time.time() -start}s')
fh.close()
df_sample = pd.DataFrame(random_users,columns=user_columns)
display(df_sample)

Loading 4 random users. Elapsed: 0.0006387233734130859s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate
0,0,Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,Mayotte,1993-11-7
1,100,James Gilmore,karen98@simmons.net,(737)699-2522,Allen Ltd,Daniel Crossroad,196,98959,Cambodia,1977-5-13
2,200,Edward Grant,christophercook@hill.com,4022489758,Pierce-Page,Bush Island,714,8620,Austria,1975-5-21
3,9999,Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,Bhutan,1992-2-28

In [186]:
#Update 4 random users
fh = open(fname_bin,"r+b") #open file for updating with "r+b", do not use "wb" since otherwise file will be blank!
start = time.time()
random_ids = [0, 100, 200, 9999]
for user in random_users:
  user[1] = 'X ' + user[1]
  write_user(user,fh)
print(f'Writing {len(random_ids)} random users. Elapsed: {time.time() -start}s')
fh.close()

Writing 4 random users. Elapsed: 0.0009081363677978516s

In [187]:
# Check to see if users have been updated (X in front of name)
fh = open(fname_bin,"rb")
random_ids = [0, 100, 200, 9999]
random_users = []
for id in random_ids:
  user_i = read_user(id, fh)
  random_users.append(user_i)
print(f'Loading {len(random_ids)} random users. Elapsed: {time.time() -start}s')
fh.close()
df_sample = pd.DataFrame(random_users,columns=user_columns)
display(df_sample)

Loading 4 random users. Elapsed: 0.01559758186340332s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate
0,0,X Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,Mayotte,1993-11-7
1,100,X James Gilmore,karen98@simmons.net,(737)699-2522,Allen Ltd,Daniel Crossroad,196,98959,Cambodia,1977-5-13
2,200,X Edward Grant,christophercook@hill.com,4022489758,Pierce-Page,Bush Island,714,8620,Austria,1975-5-21
3,9999,X Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,Bhutan,1992-2-28

# Compressed varying-length binary file

## Excercise 3: Modify dataframe and encode country using bitmap encoding
**Exercise 3: Encode country using bitmap encoding. You can assume the dictionary itself does not need to be stored**

*Pandas* API:
- *df[col]*: returns a single column with name *col* as series
- *df[col].values*: returns a single column as *numpy* array
- *list(df[col].values)*: returns a single column as *python* list
- *df[col].unique()*: returns all unique (or distinct) values
- *df[col].apply(f)*: applies (or runs) the function f to all column values
- *df[col2] = df[col].apply(f)*: applies (or runs) the function f to all column values and store the result in a new column

In [188]:
def encode_dictionary(df, col):
    """
    Creates column df[col + '_dct'] containing dictionary value
    :param df: pandas dataframe
    :param col: column to apply dictionary encoding
    :return mapping between value and code
    """
    unique_values = sorted(df[col].unique())
    value_to_code = {}
    for i in range(len(unique_values)):
        value_to_code[unique_values[i]] = i
    mapping = [(key,value) for key, value in value_to_code.items()]
    df["country_dct"] = df["country"].map(value_to_code)
    return mapping

In [189]:
"""
Before: col country is string. range: 4-51. unique: 243
After: country "id" encoded using dictionary and store as 16 bit integer
"""
value_to_code_countries = encode_dictionary(df,'country')
print(value_to_code_countries)

[('Afghanistan', 0), ('Albania', 1), ('Algeria', 2), ('American Samoa', 3), ('Andorra', 4), ('Angola', 5), ('Anguilla', 6), ('Antarctica (the territory South of 60 deg S)', 7), ('Antigua and Barbuda', 8), ('Argentina', 9), ('Armenia', 10), ('Aruba', 11), ('Australia', 12), ('Austria', 13), ('Azerbaijan', 14), ('Bahamas', 15), ('Bahrain', 16), ('Bangladesh', 17), ('Barbados', 18), ('Belarus', 19), ('Belgium', 20), ('Belize', 21), ('Benin', 22), ('Bermuda', 23), ('Bhutan', 24), ('Bolivia', 25), ('Bosnia and Herzegovina', 26), ('Botswana', 27), ('Bouvet Island (Bouvetoya)', 28), ('Brazil', 29), ('British Indian Ocean Territory (Chagos Archipelago)', 30), ('British Virgin Islands', 31), ('Brunei Darussalam', 32), ('Bulgaria', 33), ('Burkina Faso', 34), ('Burundi', 35), ('Cambodia', 36), ('Cameroon', 37), ('Canada', 38), ('Cape Verde', 39), ('Cayman Islands', 40), ('Central African Republic', 41), ('Chad', 42), ('Chile', 43), ('China', 44), ('Christmas Island', 45), ('Cocos (Keeling) Islands', 46), ('Colombia', 47), ('Comoros', 48), ('Congo', 49), ('Cook Islands', 50), ('Costa Rica', 51), ("Cote d'Ivoire", 52), ('Croatia', 53), ('Cuba', 54), ('Cyprus', 55), ('Czech Republic', 56), ('Denmark', 57), ('Djibouti', 58), ('Dominica', 59), ('Dominican Republic', 60), ('Ecuador', 61), ('Egypt', 62), ('El Salvador', 63), ('Equatorial Guinea', 64), ('Eritrea', 65), ('Estonia', 66), ('Ethiopia', 67), ('Falkland Islands (Malvinas)', 68), ('Faroe Islands', 69), ('Fiji', 70), ('Finland', 71), ('France', 72), ('French Guiana', 73), ('French Polynesia', 74), ('French Southern Territories', 75), ('Gabon', 76), ('Gambia', 77), ('Georgia', 78), ('Germany', 79), ('Ghana', 80), ('Gibraltar', 81), ('Greece', 82), ('Greenland', 83), ('Grenada', 84), ('Guadeloupe', 85), ('Guam', 86), ('Guatemala', 87), ('Guernsey', 88), ('Guinea', 89), ('Guinea-Bissau', 90), ('Guyana', 91), ('Haiti', 92), ('Heard Island and McDonald Islands', 93), ('Holy See (Vatican City State)', 94), ('Honduras', 95), ('Hong Kong', 96), ('Hungary', 97), ('Iceland', 98), ('India', 99), ('Indonesia', 100), ('Iran', 101), ('Iraq', 102), ('Ireland', 103), ('Isle of Man', 104), ('Israel', 105), ('Italy', 106), ('Jamaica', 107), ('Japan', 108), ('Jersey', 109), ('Jordan', 110), ('Kazakhstan', 111), ('Kenya', 112), ('Kiribati', 113), ('Korea', 114), ('Kuwait', 115), ('Kyrgyz Republic', 116), ("Lao People's Democratic Republic", 117), ('Latvia', 118), ('Lebanon', 119), ('Lesotho', 120), ('Liberia', 121), ('Libyan Arab Jamahiriya', 122), ('Liechtenstein', 123), ('Lithuania', 124), ('Luxembourg', 125), ('Macao', 126), ('Madagascar', 127), ('Malawi', 128), ('Malaysia', 129), ('Maldives', 130), ('Mali', 131), ('Malta', 132), ('Marshall Islands', 133), ('Martinique', 134), ('Mauritania', 135), ('Mauritius', 136), ('Mayotte', 137), ('Mexico', 138), ('Micronesia', 139), ('Moldova', 140), ('Monaco', 141), ('Mongolia', 142), ('Montenegro', 143), ('Montserrat', 144), ('Morocco', 145), ('Mozambique', 146), ('Myanmar', 147), ('Namibia', 148), ('Nauru', 149), ('Nepal', 150), ('Netherlands', 151), ('Netherlands Antilles', 152), ('New Caledonia', 153), ('New Zealand', 154), ('Nicaragua', 155), ('Niger', 156), ('Nigeria', 157), ('Niue', 158), ('Norfolk Island', 159), ('North Macedonia', 160), ('Northern Mariana Islands', 161), ('Norway', 162), ('Oman', 163), ('Pakistan', 164), ('Palau', 165), ('Palestinian Territory', 166), ('Panama', 167), ('Papua New Guinea', 168), ('Paraguay', 169), ('Peru', 170), ('Philippines', 171), ('Pitcairn Islands', 172), ('Poland', 173), ('Portugal', 174), ('Puerto Rico', 175), ('Qatar', 176), ('Reunion', 177), ('Romania', 178), ('Russian Federation', 179), ('Rwanda', 180), ('Saint Barthelemy', 181), ('Saint Helena', 182), ('Saint Kitts and Nevis', 183), ('Saint Lucia', 184), ('Saint Martin', 185), ('Saint Pierre and Miquelon', 186), ('Saint Vincent and the Grenadines', 187), ('Samoa', 188), ('San Marino', 189), ('Sao Tome and Principe', 190), ('Saudi Arabia', 191), ('Senegal', 192), ('Serbia', 193), ('Seychelles', 194), ('Sierra Leone', 195), ('Singapore', 196), ('Slovakia (Slovak Republic)', 197), ('Slovenia', 198), ('Solomon Islands', 199), ('Somalia', 200), ('South Africa', 201), ('South Georgia and the South Sandwich Islands', 202), ('Spain', 203), ('Sri Lanka', 204), ('Sudan', 205), ('Suriname', 206), ('Svalbard & Jan Mayen Islands', 207), ('Swaziland', 208), ('Sweden', 209), ('Switzerland', 210), ('Syrian Arab Republic', 211), ('Taiwan', 212), ('Tajikistan', 213), ('Tanzania', 214), ('Thailand', 215), ('Timor-Leste', 216), ('Togo', 217), ('Tokelau', 218), ('Tonga', 219), ('Trinidad and Tobago', 220), ('Tunisia', 221), ('Turkey', 222), ('Turkmenistan', 223), ('Turks and Caicos Islands', 224), ('Tuvalu', 225), ('Uganda', 226), ('Ukraine', 227), ('United Arab Emirates', 228), ('United Kingdom', 229), ('United States Minor Outlying Islands', 230), ('United States Virgin Islands', 231), ('United States of America', 232), ('Uruguay', 233), ('Uzbekistan', 234), ('Vanuatu', 235), ('Venezuela', 236), ('Vietnam', 237), ('Wallis and Futuna', 238), ('Western Sahara', 239), ('Yemen', 240), ('Zambia', 241), ('Zimbabwe', 242)]

## Timestamp encoding of birthdate
Birthdate encoded as string, i.e. "1986-11-20" takes 10 bytes. Encodes
as timestamp, i.e. number of seconds since January 1st, 1970, takes 4 bytes.

In [190]:
import datetime
"""
col birthdate is string. range: 8-10. unique: 7971
  -> Convert to timestamp  with 32bits
"""
df['birthdate_ts'] = df['birthdate'].apply(lambda s:  pd.to_datetime(s,format='%Y-%m-%d'))
df['birthdate_ts'] = df['birthdate_ts'].astype(int) / 10**9

In [191]:
df = df[['id', 'name', 'email', 'phone', 'company', 'street', 'street_number', 'zipcode', 'country_dct', 'birthdate_ts']]
display(df)
new_user_columns = list(df.columns.values)
print(new_user_columns)

,id,name,email,phone,company,street,street_number,zipcode,country_dct,birthdate_ts
0,0,Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,137,752630400.0
1,1,Ronald Black,jacksongregory@moore.org,(712)654-9859,Alexander LLC,Thomas Highway,374,82982,155,902793600.0
2,2,Mary Rose,samanthabenson@hotmail.com,3497002554,Blanchard-Ray,Sharp Corner,603,23960,56,680400000.0
3,3,Andrea Waters,markdavis@shelton.org,(485)287-0714,Campbell-Poole,Contreras Mission,452,39939,26,549504000.0
4,4,Bryan Robinson,laura25@leon.com,(577)635-8558,Walker-Perez,Parsons Inlet,554,51481,54,702864000.0
...,...,...,...,...,...,...,...,...,...,...
9995,9995,Laura Yang,jonesjacob@yahoo.com,832-363-7842,Murray and Sons,Thomas Forks,232,80425,84,894153600.0
9996,9996,Marissa Simpson,mhall@hernandez.com,3102091665,Martinez-Long,Lawrence Mill,720,93359,46,437875200.0
9997,9997,Ronald Owens,patrickkevin@gmail.com,(348)201-7969,Edwards-Lee,Hammond Ramp,635,26176,99,41558400.0
9998,9998,Steve Haynes,myersrodney@simpson-bennett.net,383-424-4787,"Pena, Gray and Barrett",Jennifer Mission,430,5935,176,600825600.0
9999,9999,Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,24,699235200.0

['id', 'name', 'email', 'phone', 'company', 'street', 'street_number', 'zipcode', 'country_dct', 'birthdate_ts']

# Varying-length binary file

## Encode variable-length tuples

In [192]:
#some constants for efficiency
IDX_ID = new_user_columns.index('id')
IDX_SN = new_user_columns.index('street_number')
IDX_ZIP = new_user_columns.index('zipcode')
IDX_BD = new_user_columns.index('birthdate_ts')
IDX_COUNTRY = new_user_columns.index('country_dct')
IDX_NAME = new_user_columns.index('name')
IDX_EMAIL = new_user_columns.index('email')
IDX_PHONE = new_user_columns.index('phone')
IDX_COMPANY = new_user_columns.index('company')
IDX_STREET = new_user_columns.index('street')

def encode_var_string(s):
  return [len(s)] + list(s.encode('ascii'))

def encode_user_var_length(user):
  '''
  Assuming user has columns
  ['id', 'name', 'email', 'phone', 'company', 'street', 'street_number', 'zipcode', 'country_dct', 'birthdate_ts']

  encode user object:
  id, street_number, zipcode, birthdate_ts, country_dct
    -> to integer between 1 and 4 bytes depending on range values
  name, email, phone, company, street
    -> to variable-length string, e.g. "helloworld" -> (8,"helloworld") instead of using padding, e.g."0000000helloworld"
  '''
  int_list = []
  int_list.extend(int(user[IDX_ID]).to_bytes(4,'little'))
  int_list.extend(int(user[IDX_SN]).to_bytes(2,'little')) #max street number < 65536 (or 2^16)
  int_list.extend(int(user[IDX_ZIP]).to_bytes(4,'little'))
  int_list.extend(int(user[IDX_BD]).to_bytes(4,'little'))
  int_list.extend(int(user[IDX_COUNTRY]).to_bytes(1,'little')) #max country < 256 (or 2^8)
  int_list.extend(encode_var_string(user[IDX_NAME]))
  int_list.extend(encode_var_string(user[IDX_EMAIL]))
  int_list.extend(encode_var_string(user[IDX_PHONE]))
  int_list.extend(encode_var_string(user[IDX_COMPANY]))
  int_list.extend(encode_var_string(user[IDX_STREET]))
  return bytearray(int_list)

## Excercise 4: Write code to decode byte_array

**Exercise 4: Complete the following code to decode a single user tuple encoded as bytes using encode_user_var_length**
API:
- *byte_array[start:end]* : get sub-array of bytes
- *int.from_bytes(byte_array_slice, "little")*: get python integer from byte array. Note that small integer can be 1 byte, and large integer can be 4 bytes or more.
- *str(byte_array_slice, encoding='ascii')*: get python string encoded as ascii

In [193]:
def decode_user_var_length(byte_array):
    '''
    decode variable-length tuple representing user (see encode_user_var_length)
    '''
    id = int.from_bytes(byte_array[0:4], byteorder='little')
    street_number = int.from_bytes(byte_array[4:6], byteorder='little')
    zipcode = int.from_bytes(byte_array[6:10], byteorder='little')
    bd = int.from_bytes(byte_array[10:14], byteorder='little')
    country_dct = int.from_bytes(byte_array[14:15], byteorder='little')
    
#     name_len = int.from_bytes(byte_array[15:16], "little")
#     name = byte_array[16:16+name_len].decode('ascii')
#     email_len = int.from_bytes(byte_array[16+name_len:16+name_len+1], "little")
#     email = byte_array[16+name_len+1:16+name_len+1+email_len].decode('ascii')
#     phone_len = int.from_bytes(byte_array[16+name_len+1+email_len:16+name_len+1+email_len+1], "little")
#     phone = byte_array[16+name_len+1+email_len+1:16+name_len+1+email_len+1+phone_len].decode('ascii')
#     company_len = int.from_bytes(byte_array[16+name_len+1+email_len+1+phone_len:16+name_len+1+email_len+1+phone_len+1], "little")
#     company = byte_array[16+name_len+1+email_len+1+phone_len+1:16+name_len+1+email_len+1+phone_len+1+company_len].decode('ascii')
#     street_len = int.from_bytes(byte_array[16+name_len+1+email_len+1+phone_len+1+company_len:16+name_len+1+email_len+1+phone_len+1+company_len+1], "little")
#     street = byte_array[16+name_len+1+email_len+1+phone_len+1+company_len+1:16+name_len+1+email_len+1+phone_len+1+company_len+1+street_len].decode('ascii')
   
    
    i = 0
    next_start = 16
    len_next = int.from_bytes(byte_array[15:16], "little")
    user_values = []
    while i < 5:
        start = next_start
        user_values.append(byte_array[start:start+len_next].decode("ascii"))
        next_start = start+len_next+1
        if i != 4: 
            len_next = int.from_bytes(byte_array[start+len_next:start+len_next+1], "little")
        i += 1
        
    l = [id]
    l.extend(user_values)
    l.extend([street_number, zipcode, country_dct, bd])

    return l

In [194]:
#test
first_user = df.iloc[0]
print(first_user.values)
byte_array = encode_user_var_length(first_user)
print(f'byte array len: {len(byte_array)}: {byte_array}') #107 bytes instead of 298 bytes!
user = decode_user_var_length(byte_array)
print(f'decoded: {user}')

[0 'Tammy Santiago' 'dereksmith@gmail.com' '(899)710-0619' 'Hall Group'
 'Brady Locks' 267 47660 137 752630400.0]
byte array len: 88: bytearray(b'\x00\x00\x00\x00\x0b\x01,\xba\x00\x00\x80:\xdc,\x89\x0eTammy Santiago\x14dereksmith@gmail.com\r(899)710-0619\nHall Group\x0bBrady Locks')
decoded: [0, 'Tammy Santiago', 'dereksmith@gmail.com', '(899)710-0619', 'Hall Group', 'Brady Locks', 267, 47660, 137, 752630400]

## Save and load to file varying-length to binary file
Use slotted pages. Start of file contains array of N integer (32 bits) with location of tuples. Then we store varying-lengh binary encoding of tuples sequentially.

## Excercise 5: Save varying-length user tuples
Write code to save header containing offsets to tuples and tuples in binary file. Also write code to read binary file.

The file layout could be: $[N, \mathit{offset}_1, \mathit{offset}_2, \ldots, \mathit{offset}_N, \mathit{offset}_{N+1}, t_1, t_2, \ldots, t_N]$

In [195]:
def save_users_to_binary_var_length(filename, df):
    """
    saves users to sorted variable-length binary file
    file layout: [N offset_t1 offset_t2... offset_tN offset_tN+1 t1 t2 ... tN]

    :param filename: binary file to save
    :param df: pandas dataframe contains all users
    :return:
    """
    start = time.time()
    number_of_slots = df.shape[0]
    offsets = [0]
    binary_data = b''
    for i in range(number_of_slots):
        user_data = encode_user_var_length(df.iloc[i])
        binary_data += user_data
        offsets.append(len(binary_data))

    with open(filename, "wb") as file:
        file.write(number_of_slots.to_bytes(4, 'little')) # N at beginning of file
        for offset in offsets: # nr of offsets = nr of rows
            file.write(offset.to_bytes(4, 'little'))
        file.write(binary_data)
    
    file.close()
    print(f'saved {number_of_slots} records to {filename}. Time: {time.time() -start}s')
    
#     testing (fyi everytime you 'Run All' the users can change because of faker)
#     file = open(filename, "rb")
#     file.seek(0)
#     a = file.read(100)
#     b = int.from_bytes(a[12:16], byteorder='little')
#     print(b)
#     file.close()

def load_users_from_binary_var_length(filename):
    """
    load users from sorted variable-length binary file
    file layout: [N offset_t1 offset_t2... offset_tN offset_tN+1 t1 t2 ... tN]
    
    :param filename: binary file to save
    :return: pandas dataframe contains all users
    """
    start = time.time()
    # load header and user data
    with open(filename, "rb") as file:
        number_of_slots = int.from_bytes(file.read(4), 'little') # N at beginning
        offsets = [int.from_bytes(file.read(4), 'little') for i in range(number_of_slots+1)] # nr of offsets = nr of rows
        binary_data = file.read() # rest of the file
    # extract users
    users = []
    for i in range(number_of_slots):
        users.append(decode_user_var_length(binary_data[offsets[i]:offsets[i+1]])) # ~= append( decode( encoded_user[i] ) )

    print(f'Loaded {number_of_slots} records from {filename}. Time: {time.time() - start}s')
    df = pd.DataFrame(users, columns=new_user_columns)
    return df

In [196]:
#save
fname_bin = 'fake_users.bin2'
save_users_to_binary_var_length(fname_bin, df)
file_size = os.stat(fname_bin).st_size
print(f"File size is {file_size}B") #was 2980000B, know 999927B (about 33% of fixed-length)

saved 10000 records to fake_users.bin2. Time: 1.545602560043335s
File size is 1000554B

In [197]:
#load
df2 = load_users_from_binary_var_length(fname_bin)
display(df2)

Loaded 10000 records from fake_users.bin2. Time: 0.058320045471191406s

,id,name,email,phone,company,street,street_number,zipcode,country_dct,birthdate_ts
0,0,Tammy Santiago,dereksmith@gmail.com,(899)710-0619,Hall Group,Brady Locks,267,47660,137,752630400
1,1,Ronald Black,jacksongregory@moore.org,(712)654-9859,Alexander LLC,Thomas Highway,374,82982,155,902793600
2,2,Mary Rose,samanthabenson@hotmail.com,3497002554,Blanchard-Ray,Sharp Corner,603,23960,56,680400000
3,3,Andrea Waters,markdavis@shelton.org,(485)287-0714,Campbell-Poole,Contreras Mission,452,39939,26,549504000
4,4,Bryan Robinson,laura25@leon.com,(577)635-8558,Walker-Perez,Parsons Inlet,554,51481,54,702864000
...,...,...,...,...,...,...,...,...,...,...
9995,9995,Laura Yang,jonesjacob@yahoo.com,832-363-7842,Murray and Sons,Thomas Forks,232,80425,84,894153600
9996,9996,Marissa Simpson,mhall@hernandez.com,3102091665,Martinez-Long,Lawrence Mill,720,93359,46,437875200
9997,9997,Ronald Owens,patrickkevin@gmail.com,(348)201-7969,Edwards-Lee,Hammond Ramp,635,26176,99,41558400
9998,9998,Steve Haynes,myersrodney@simpson-bennett.net,383-424-4787,"Pena, Gray and Barrett",Jennifer Mission,430,5935,176,600825600
9999,9999,Nicole Lopez,lisasheppard@lopez-hodges.com,(598)807-9194,Smith and Sons,Norris Falls,155,59186,24,699235200